:root{
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}
    
*{
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}
li{
    list-style-type: none;
}
button{
    font-family: 'Hind Siliguri', sans-serif;
    cursor: pointer;
    outline: 0;
    background: transparent;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.text{
    margin: 0.6rem 0;
    opacity: 0.8;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 6.5rem 0;
}
.title{
    padding: 0.6rem 0;
    text-align: center;
}
.title h2{
    font-size: 2.2rem;
    color: var(--night-rider);
}
.title .text{
    font-weight: 500;
    font-size: 1.1rem;
}


.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../assets/header.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
.brand-and-toggler{
    font-size: 1.65rem;
    padding: 0rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    top: 0;
    left: 0;
    width: 20%;
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.nav-item{
    padding: 0.6rem 0;
}
.navbar-logo{
    display:flex;
}
.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.65;
    transition: var(--transition);
}
.nav-link:hover{
    color: #3C78D8!important;
}

.navbar-collapse{
    display: none;
}

.container-consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-origem-destino {
    display: flex;
    flex-direction: column;
}

.origem, .destino{
    box-sizing: border-box;
    color: #000000;
    width: 600px;
    height: 80px;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 0 0 0 20px;
    margin: 7px 0 14px 0;
    font-size: 20px;
}


.inverter{
    display: flex;
    position: absolute;
    top: 62px;
    right: 7%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #3C78D8;
}

.inverter img{
    padding: 7px;
    transform: rotate(90deg);
}

.b-busca{
    width: 600px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 30px;
    color: #000000;
}

.b-compra{
    background-color: #3C78D8;
    font-size: 25px;
    border-radius: 8px;
}

.b-compra:hover {
    cursor: pointer;
    font-size: x-large;
}


.hero-text {
    flex-wrap: wrap;
    margin: 20px;
}

.hero-text h1 {
    color: #fff;
}

.hero-div{
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.hero-div h1{
    font-size: 2.55rem;
    padding-bottom: 0.4rem;
}
.hero-div p{
    color: var(--white-smoke);
    font-size: 1.05rem;
    letter-spacing: 3px;
}

.container-busca {
    position: relative;
    display: flex;
    margin: 20px;
}


.team .row{
    margin-top: 2rem;
}
.team-item{
    margin: 2rem 0;
}
.team-img{
    position: relative;
}
.team-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: var(--white-smoke);
    opacity: 0;
    transition: var(--transition);
}
.team-icons a{
    color: var(--night-rider);
    width: 50px;
    height: 50px;
    transition: var(--transition);
}
.team-icons a:hover{
    background: #3C78D8;
    color: #fff;
}
.team-img:hover .team-icons{
    opacity: 1;
}
.team-info{
    text-align: center;
    padding: 1.5rem;
    line-height: 1;
}
.team-info h3{
    font-size: 1.4rem;
    color: var(--night-rider);
}
.team-info span{
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
}

/* rodapeeeee bebeee */
.footer{
    text-align: center;
    background: var(--black);
    color: var(--white-smoke);
    padding: 2rem 0;
    height: 50vh;
}
.footer .text{
    opacity: 0.8;
}
.footer-links{
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}
.footer-links a{
    color: var(--white-smoke);
    opacity: 0.8;
    width: 50px;
    height: 50px;
    margin: 0 0.2rem;
    border-radius: 50%;
    transition: var(--transition);
}
.footer-links a:hover{
    background: #3C78D8;
}











/* #### Media Queries #### */

@media screen and (min-width: 768px){
}

@media screen and (min-width: 992px){
    .navbar{
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }

    .hero-div h1{
        font-size: 3.8rem;
    }

    /* navbar change */
    .cng-navbar{
        -webkit-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        -moz-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        margin-top: 0;
        background: #fff;
    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);
    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
}

@media screen and (min-width: 1200px){
    .hero-div h1{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-consulta {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .detail .row{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 963px){
    .hero-div{
        flex-direction: column;
    }
    .origem, .destino{
        width: 90vw;
    }
    .container{
        max-width: 100vw;
    }
    .b-busca{
        width: 90vw;
    }
}